# Last match in file takes precedence.
# C# code
/Content.*/ @SyaoranFox @mnemotechnician @m3739 #@floof-station/code-maintainers

# Any assets
/Resources/ @SyaoranFox @mnemotechnician @m3739 #@floof-station/code-maintainers

# Server config files
/Resources/ConfigPresets/ @m3739

# Sprites - Maintainers in absence of a proper direction unit
/Resources/Textures/ @SyaoranFox @mnemotechnician @m3739  # @floof-station/direction

# Lobby art and music - automatically direction issues since its immediately visible to players - Maintainers in absence of a proper direction unit
/Resources/Audio/Lobby/ @SyaoranFox @mnemotechnician @m3739 #@floof-station/direction
/Resources/Textures/LobbyScreens/ @memeji @mnemotechnician @m3739 #@floof-station/direction

# Maps
/Resources/Maps/ @dunrab #@floof-station/map-maintainers
/Resources/Prototypes/Maps/ @dunrab #@floof-station/map-maintainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @dunrab #@floof-station/map-maintainers

# Server rules - directors in absence of head administration.
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @TechCoarse #@floof-station/directors

# Wiki - Maintainers in absence of a proper direction unit
/.wiki/ @SyaoranFox @mnemotechnician @m3739 # @floof-station/direction

# Tools and scripts
/Tools/ @m3739

# Workflows, codeowners, templates, etc.
/.github/ @m3739

# Standalone files in the root repo
/* @m3739
